
body {
    background-image: url("../images/pencil.jpg");
    background-repeat: repeat-x;
    background-color: #FBC784;
}
#all {
    background-color: #FDDA9C;
    padding-bottom: 5px;
    
}
#header {
    background-color: #3C8F5B;
    border: 3px solid #82473D;
    color: rgba(253, 251, 251, 0.911);
}
#question {
    margin-bottom: 20px;
}
#submit {
    margin-right: auto;
    margin-left: auto;
}
